upstream $PROXY_HOST-target {
    least_conn;
    server $PROXY_HOST:$PROXY_PORT;
}

server {
    listen 80;
    server_name $PROXY_DOMAIN;

    client_max_body_size 50M;

    location / {
        proxy_pass http://$PROXY_HOST-target;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
