# The host to which you want nginx to forward all requests
PROXY_HOST=web

# The port on which the host is listening
PROXY_PORT=8000

# Whether to enable SSL or not
SSL_ENABLED=true

# The domain for which you want nginx to listen
PROXY_DOMAIN="test1.noco.rohittp.com"

# Set this to true if you want to enable debug logs
DEBUG=false